<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <br>
    <div class="row">
        <div class="col-md-4 text-center offset-4">
            <h2>test</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 text-center">
        </div>
        <div class="col-md-4 text-center">
            前進
        </div>
        <div class="col-md-4 text-center">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            左旋回
        </div>
        <div class="col-md-4 text-center">
            停止
        </div>
        <div class="col-md-4 text-center">
            右旋回
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
        </div>
        <div class="col-md-4 text-center">
            後退
        </div>
        <div class="col-md-4 text-center">
        </div>
    </div>
</div>

</body>
</html>