{% load static %}

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/driver_seat.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
</body>
{#<form action="{% url 'forward' %}/" method="GET">#}
{#    <input id="submit" type="button" value="Click" class="btn btn-secondary"/>#}
{#</form>#}

<body>


<div class="container">
    <div class="row">
        <div class="col-md-4 text-center offset-4">
            <h2>Curiosity2</h2>
            <h5>by K. Nagakawa</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center offset-4">
            <img src="http://192.168.11.2:8000/stream.mjpg" width="384" height="384">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
        </div>
        <div class="col-md-4 text-center">
            <input type='button' value='⬆' onclick='forward()' class="btn btn-secondary"/>
        </div>
        <div class="col-md-4 text-center">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 text-right">
            <input type='button' value='⬅' onclick='left()' class="btn btn-secondary"/>
        </div>
        <div class="col-md-2 text-center">
            <input type='button' value='STOP' onclick='stop()' class="btn btn-secondary"/>
        </div>
        <div class="col-md-5 text-left">
            <input type='button' value='➡' onclick='right()' class="btn btn-secondary"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
        </div>
        <div class="col-md-4 text-center">
            <input type='button' value='⬇' onclick='backward()' class="btn btn-secondary"/>
        </div>
        <div class="col-md-4 text-center">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center offset-4">
            Github Repo is <a href="https://github.com/iceman-k/curiosity2">here</a>.
            <br>
            Curiosity version1 is <a href="https://en.wikipedia.org/wiki/Curiosity_(rover)">here</a>.
        </div>
    </div>
</div>

<script src="{% static 'js/button_click.js' %}"></script>

</body>
</html>
