{% load static %}

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/driver_seat.css' %}">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 text-center offset-4">
            <h2>The Antarctic.com Demo</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 text-center">
        </div>
        <div class="col-md-4 text-center">
            <a href="/forward">
                <button type="button" class="btn btn-secondary">⬆</button>
            </a>
        </div>
        <div class="col-md-4 text-center">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 text-right">
            <a href="/left">
                <button type="button" class="btn btn-secondary">⬅</button>
            </a>
        </div>
        <div class="col-md-2 text-center">
            <a href="/stop">
                <button type="button" class="btn btn-danger">STOP</button>
            </a>
        </div>
        <div class="col-md-5 text-left">
            <a href="/right">
                <button type="button" class="btn btn-secondary">➡</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
        </div>
        <div class="col-md-4 text-center">
            <a href="/backward">
                <button type="button" class="btn btn-secondary">⬇</button>
            </a>
        </div>
        <div class="col-md-4 text-center">
        </div>
    </div>
</div>

</body>
</html>